.App-header{
  background-color: orange;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App__header__nav{
  width: 60%;
  background-color: white;
  display: flex;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
}

.App__header__nav a {
  font-size: 1.3rem;
  cursor: pointer;
}
